<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>Tool Box</title>
    <meta name="keywords" content="FDS Toolbox Navbar">
    <link href="https://cdn.pmine.org/bootstrap-5.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div width="100%" style="background-color: #eee;">
        <div class="container">
            <footer class="py-5" style="width: 100%; padding-left: 2%; padding-right: 2% ">
                <h3 style="color: lightcoral">翻訳は間違っているかもしれません。もし私たちがいくつかの間違いを犯したら、私たちに報告してください </h3>
                <br>
                <div class="row">
                    <div class="col-6 col-md-2 mb-3">
                        <h5>本站</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="https://pmine.org"
                                    class="nav-link p-0 text-body-secondary">ホーム</a></li>
                            <li class="nav-item mb-2"><a href="https://pmine.org/development/changelog.html"
                                    class="nav-link p-0 text-body-secondary">更新ログ</a></li>
                            <li class="nav-item mb-2"><a href="https://pmine.org/development/developers.html"
                                    class="nav-link p-0 text-body-secondary">開発者</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <h5>FDS</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="https://fds.moe/"
                                    class="nav-link p-0 text-body-secondary">FDS</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <h5>リンク</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="https://fds.moe"
                                    class="nav-link p-0 text-body-secondary">NULL</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <h5>言語</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="/op/lan/en"
                                    class="nav-link p-0 text-body-secondary">English</a></li>
                            <li class="nav-item mb-2"><a href="/op/lan/zh"
                                    class="nav-link p-0 text-body-secondary">中文</a></li>
                            <li class="nav-item mb-2"><a href="/op/lan/ja"
                                    class="nav-link p-0 text-body-secondary">日本語</a></li>
                        </ul>
                    </div>

                    <!--<div class="col-md-5 offset-md-1 mb-3">
                    <form>
                        <h5>Subscribe to our newsletter</h5>
                        <p>Monthly digest of what's new and exciting from us.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email address</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                            <button class="btn btn-primary" type="button">Subscribe</button>
                        </div>
                    </form>
                </div>-->
                </div>

                <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                    <p>&copy; 2024 <a href="https://fds.moe" class="text-body-secondary">FDS</a>, All rights
                        reserved.<br>抜け穴？質問ですか？私たちのDiscordグループに参加して！　<a href="https://discord.gg/rn4Zthzu"
                            style="color: black">https://discord.gg/rn4Zthzu</a> </p>
                    <!--<ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#twitter" />
                            </svg></a></li>
                    <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#instagram" />
                            </svg></a></li>
                    <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24">
                                <use xlink:href="#facebook" />
                            </svg></a></li>
                </ul>-->
                </div>
            </footer>
        </div>
    </div>

</body>

</html>