.btn-pink {
    /* Declare the custom properties */
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #F3CECE !important;
    --bs-btn-border-color: #F3CECE !important;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #F3BEBE;
    --bs-btn-hover-border-color: #F3CECE !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #F3D3D3;
    --bs-btn-active-border-color: #F3CECE;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #F3CECE;
    --bs-btn-disabled-border-color: #F3CECE;

    /* Use the custom properties */
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
}

.btn-orange {
    /* Declare the custom properties */
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #FFBD2F !important;
    --bs-btn-border-color: #FFBD2F !important;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #FFAD1F;
    --bs-btn-hover-border-color: #FFBD2F !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #FFCD3F;
    --bs-btn-active-border-color: #FFBD2F;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #FFBD2F;
    --bs-btn-disabled-border-color: #FFBD2F;

    /* Use the custom properties */
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
} 

.btn-green {
    /* Declare the custom properties */
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #A5FF89 !important;
    --bs-btn-border-color: #A5FF89 !important;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #95FF79;
    --bs-btn-hover-border-color: #A5FF89 !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #B5FF99;
    --bs-btn-active-border-color: #A5FF89;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #A5FF89;
    --bs-btn-disabled-border-color: #A5FF89;

    /* Use the custom properties */
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
} 

.btn-cyan {
    /* Declare the custom properties */
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #72FFFF !important;
    --bs-btn-border-color: #72FFFF !important;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #62EFEF;
    --bs-btn-hover-border-color: #72FFFF !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #92FFFF;
    --bs-btn-active-border-color: #72FFFF;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #72FFFF;
    --bs-btn-disabled-border-color: #72FFFF;

    /* Use the custom properties */
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
} 

.btn-red {
    /* Declare the custom properties */
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #F3CECE !important;
    --bs-btn-border-color: #F3CECE !important;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #F3BEBE;
    --bs-btn-hover-border-color: #F3CECE !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #F3D3D3;
    --bs-btn-active-border-color: #F3CECE;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #F3CECE;
    --bs-btn-disabled-border-color: #F3CECE;

    /* Use the custom properties */
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
}

.btn-lavender {
    /* Declare the custom properties */
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #EDCEF3 !important;
    --bs-btn-border-color: #EDCEF3 !important;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #DDBEE3;
    --bs-btn-hover-border-color: #EDCEF3 !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #FDDEFF;
    --bs-btn-active-border-color: #EDCEF3;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #EDCEF3;
    --bs-btn-disabled-border-color: #EDCEF3;

    /* Use the custom properties */
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
}

.btn-blue {
    /* Declare the custom properties */
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #A4BCDA !important;
    --bs-btn-border-color: #A4BCDA !important;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #94ACDA;
    --bs-btn-hover-border-color: #A4BCDA !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #B4CCDA;
    --bs-btn-active-border-color: #A4BCDA;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #A4BCDA;
    --bs-btn-disabled-border-color: #A4BCDA;

    /* Use the custom properties */
    color: var(--bs-btn-color);
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-border-color);
} 

.shadow-pink{ 
    box-shadow: 0px 3px 0px 0px #F3B7C6; 
} 

.shadow-orange {
    box-shadow: 0px 3px 0px 0px #FFAD1F;
} 

.shadow-green { 
    box-shadow: 0px 3px 0px 0px #95FF79;
} 

.shadow-cyan {
    box-shadow: 0px 3px 0px 0px #62EFEF; 
} 

.shadow-red { 
    box-shadow: 0px 3px 0px 0px #F3BEBE;
}

.shadow-lavender { 
    box-shadow: 0px 3px 0px 0px #DDBEE3;
}

.shadow-blue {
    box-shadow: 0px 3px 0px 0px #94ACDA; 
} 

.text-pink{ 
    color: #F3B7C6; 
} 

.text-orange {
    color: #FFAD1F;
} 

.text-green { 
    color: #95FF79;
} 

.text-cyan {
    color: #62EFEF; 
} 

.text-red { 
    color: #F3BEBE;
}

.text-lavender { 
    color: #DDBEE3;
}

.text-blue {
    color: #94ACDA; 
} 
