:root {
    --fds-pink-normal: #F3CECE;
    --fds-pink-active: #F3BEBE;
    --fds-pink-hover: #F3D3D3;
    --fds-orange-normal: #FFBD2F;
    --fds-orange-active: #FFCD3F;
    --fds-orange-hover: #FFAD1F;
    --fds-green-normal: #A5FF89;
    --fds-green-active: #95FF79;
    --fds-green-hover: #B5FF99;
    --fds-cyan-normal: #72FFFF;
    --fds-cyan-active: #62EFEF;
    --fds-cyan-hover: #92FFFF;
    --fds-red-normal: #F3CECE;
    --fds-red-active: #F3BEBE;
    --fds-red-hover: #F3D3D3;
    --fds-lavender-normal: #EDCEF3;
    --fds-lavender-active: #DDBEE3;
    --fds-lavender-hover: #FDDEFF;
    --fds-blue-normal: #A4BCDA;
    --fds-blue-active: #94ACDA;
    --fds-blue-hover: #B4CCDA;
}

.btn-pink {
    --bs-btn-bg: var(--fds-pink-normal) !important;
    --bs-btn-border-color: var(--fds-pink-normal) !important;
    --bs-btn-hover-bg: var(--fds-pink-active);
    --bs-btn-hover-border-color: var(--fds-pink-normal) !important;
    --bs-btn-active-bg: var(--fds-pink-hover);
    --bs-btn-active-border-color: var(--fds-pink-normal);
    --bs-btn-disabled-bg: var(--fds-pink-normal);
    --bs-btn-disabled-border-color: var(--fds-pink-normal);
}

.btn-orange {
    --bs-btn-bg: var(--fds-orange-normal) !important;
    --bs-btn-border-color: var(--fds-orange-normal) !important;
    --bs-btn-hover-bg: var(--fds-orange-active);
    --bs-btn-hover-border-color: var(--fds-orange-normal) !important;
    --bs-btn-active-bg: var(--fds-orange-hover);
    --bs-btn-active-border-color: var(--fds-orange-normal);
    --bs-btn-disabled-bg: var(--fds-orange-normal);
    --bs-btn-disabled-border-color: var(--fds-orange-normal);
}

.btn-green {
    --bs-btn-bg: var(--fds-green-normal) !important;
    --bs-btn-border-color: var(--fds-green-normal) !important;
    --bs-btn-hover-bg: var(--fds-green-active);
    --bs-btn-hover-border-color: var(--fds-green-normal) !important;
    --bs-btn-active-bg: var(--fds-green-hover);
    --bs-btn-active-border-color: var(--fds-green-normal);
    --bs-btn-disabled-bg: var(--fds-green-normal);
    --bs-btn-disabled-border-color: var(--fds-green-normal);
}

.btn-cyan {
    --bs-btn-bg: var(--fds-cyan-normal) !important;
    --bs-btn-border-color: var(--fds-cyan-normal) !important;
    --bs-btn-hover-bg: var(--fds-cyan-active);
    --bs-btn-hover-border-color: var(--fds-cyan-normal) !important;
    --bs-btn-active-bg: var(--fds-cyan-hover);
    --bs-btn-active-border-color: var(--fds-cyan-normal);
    --bs-btn-disabled-bg: var(--fds-cyan-normal);
    --bs-btn-disabled-border-color: var(--fds-cyan-normal);
}

.btn-red {
    --bs-btn-bg: var(--fds-red-normal) !important;
    --bs-btn-border-color: var(--fds-red-normal) !important;
    --bs-btn-hover-bg: var(--fds-red-active);
    --bs-btn-hover-border-color: var(--fds-red-normal) !important;
    --bs-btn-active-bg: var(--fds-red-hover);
    --bs-btn-active-border-color: var(--fds-red-normal);
    --bs-btn-disabled-bg: var(--fds-red-normal);
    --bs-btn-disabled-border-color: var(--fds-red-normal);
}

.btn-lavender {
    --bs-btn-bg: var(--fds-lavender-normal) !important;
    --bs-btn-border-color: var(--fds-lavender-normal) !important;
    --bs-btn-hover-bg: var(--fds-lavender-active);
    --bs-btn-hover-border-color: var(--fds-lavender-normal) !important;
    --bs-btn-active-bg: var(--fds-lavender-hover);
    --bs-btn-active-border-color: var(--fds-lavender-normal);
    --bs-btn-disabled-bg: var(--fds-lavender-normal);
    --bs-btn-disabled-border-color: var(--fds-lavender-normal);
}

.btn-blue {
    --bs-btn-bg: var(--fds-blue-normal) !important;
    --bs-btn-border-color: var(--fds-blue-normal) !important;
    --bs-btn-hover-bg: var(--fds-blue-active);
    --bs-btn-hover-border-color: var(--fds-blue-normal) !important;
    --bs-btn-active-bg: var(--fds-blue-hover);
    --bs-btn-active-border-color: var(--fds-blue-normal);
    --bs-btn-disabled-bg: var(--fds-blue-normal);
    --bs-btn-disabled-border-color: var(--fds-blue-normal);
}

.form-range-pink::-webkit-slider-thumb {
    background-color: var(--fds-pink-normal);
}

.form-range-pink::-webkit-slider-thumb:active {
    background-color: var(--fds-pink-active);
}

.form-range-pink::-moz-range-thumb {
    background-color: var(--fds-pink-normal);
}

.form-range-pink::-moz-range-thumb:active {
    background-color: var(--fds-pink-active);
}

.form-range-pink::-ms-thumb {
    background-color: var(--fds-pink-normal);
}

.form-range-pink::-ms-thumb:active {
    background-color: var(--fds-pink-active);
}

.form-range-orange::-webkit-slider-thumb {
    background-color: var(--fds-orange-normal);
}

.form-range-orange::-webkit-slider-thumb:active {
    background-color: var(--fds-orange-active);
}

.form-range-orange::-moz-range-thumb {
    background-color: var(--fds-orange-normal);
}

.form-range-orange::-moz-range-thumb:active {
    background-color: var(--fds-orange-active);
}

.form-range-orange::-ms-thumb {
    background-color: var(--fds-orange-normal);
}

.form-range-orange::-ms-thumb:active {
    background-color: var(--fds-orange-active);
}

.form-range-green::-webkit-slider-thumb {
    background-color: var(--fds-green-normal);
}

.form-range-green::-webkit-slider-thumb:active {
    background-color: var(--fds-green-active);
}

.form-range-green::-moz-range-thumb {
    background-color: var(--fds-green-normal);
}

.form-range-green::-moz-range-thumb:active {
    background-color: var(--fds-green-active);
}

.form-range-green::-ms-thumb {
    background-color: var(--fds-green-normal);
}

.form-range-green::-ms-thumb:active {
    background-color: var(--fds-green-active);
}

.form-range-cyan::-webkit-slider-thumb {
    background-color: var(--fds-cyan-normal);
}

.form-range-cyan::-webkit-slider-thumb:active {
    background-color: var(--fds-cyan-active);
}

.form-range-cyan::-moz-range-thumb {
    background-color: var(--fds-cyan-normal);
}

.form-range-cyan::-moz-range-thumb:active {
    background-color: var(--fds-cyan-active);
}

.form-range-cyan::-ms-thumb {
    background-color: var(--fds-cyan-normal);
}

.form-range-cyan::-ms-thumb:active {
    background-color: var(--fds-cyan-active);
}

.form-range-red::-webkit-slider-thumb {
    background-color: var(--fds-red-normal);
}

.form-range-red::-webkit-slider-thumb:active {
    background-color: var(--fds-red-active);
}

.form-range-red::-moz-range-thumb {
    background-color: var(--fds-red-normal);
}

.form-range-red::-moz-range-thumb:active {
    background-color: var(--fds-red-active);
}

.form-range-red::-ms-thumb {
    background-color: var(--fds-red-normal);
}

.form-range-red::-ms-thumb:active {
    background-color: var(--fds-red-active);
}

.form-range-lavender::-webkit-slider-thumb {
    background-color: var(--fds-lavender-normal);
}

.form-range-lavender::-webkit-slider-thumb:active {
    background-color: var(--fds-lavender-active);
}

.form-range-lavender::-moz-range-thumb {
    background-color: var(--fds-lavender-normal);
}

.form-range-lavender::-moz-range-thumb:active {
    background-color: var(--fds-lavender-active);
}

.form-range-lavender::-ms-thumb {
    background-color: var(--fds-lavender-normal);
}

.form-range-lavender::-ms-thumb:active {
    background-color: var(--fds-lavender-active);
}

.form-range-blue::-webkit-slider-thumb {
    background-color: var(--fds-blue-normal);
}

.form-range-blue::-webkit-slider-thumb:active {
    background-color: var(--fds-blue-active);
}

.form-range-blue::-moz-range-thumb {
    background-color: var(--fds-blue-normal);
}

.form-range-blue::-moz-range-thumb:active {
    background-color: var(--fds-blue-active);
}

.form-range-blue::-ms-thumb {
    background-color: var(--fds-blue-normal);
}

.form-range-blue::-ms-thumb:active {
    background-color: var(--fds-blue-active);
}

.shadow-pink {
    box-shadow: 0px 3px 0px 0px #F3B7C6;
}

.shadow-orange {
    box-shadow: 0px 3px 0px 0px #FFAD1F;
}

.shadow-green {
    box-shadow: 0px 3px 0px 0px #95FF79;
}

.shadow-cyan {
    box-shadow: 0px 3px 0px 0px #62EFEF;
}

.shadow-red {
    box-shadow: 0px 3px 0px 0px #F3BEBE;
}

.shadow-lavender {
    box-shadow: 0px 3px 0px 0px #DDBEE3;
}

.shadow-blue {
    box-shadow: 0px 3px 0px 0px #94ACDA;
}

.text-pink {
    color: #F3B7C6;
}

.text-orange {
    color: #FFAD1F;
}

.text-green {
    color: #95FF79;
}

.text-cyan {
    color: #62EFEF;
}

.text-red {
    color: #F3BEBE;
}

.text-lavender {
    color: #DDBEE3;
}

.text-blue {
    color: #94ACDA;
}