{%extends "peskincomp/template.html"%}

{%block body%}

<div class="box">
    <h1 class="lang" key="add"> </h1> 
    <hr> 
    <form method="POST" action="{{url}}/v3/" enctype="multipart/form-data" class="my-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="Upload" class="form-label lang" key="add_desc"></label>
            <input class="form-control" type="file" id="Upload" name="Upload" multiple>
        </div>
        <button type="submit" class="btn btn-pink active lang" key="upload"></button>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var form = document.querySelector('form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            var formData = new FormData(form);

            var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            var headers = new Headers({
                'X-CSRFToken': csrfToken
            });

            fetch('{{url}}/v3/app/add/{{rid}}', {
                method: 'POST',
                headers: headers,
                body: formData,
                credentials: 'include' 
            })
                .then(function (response) {
                    return response.json(); 
                })
                .then(function (data) {
                    console.log(data); 
                    window.location=`process`;
                    return false; 
                })
                .catch(function (error) {
                    console.error('Error:', error);
                });
        });
    });
</script>

{%endblock%}