{%extends "skinview/template.html"%}

{%block body%}

<canvas id="skin_container"></canvas>
<p>
    <a class="btn btn-{{pageprop.color}} mt-3" id="downloadButton">Download skin</a>
</p>
<p>
    <label>
        <b>File:</b>
        <input type="file" id="skin" accept=".png" />
    </label>
</p>
<p>
    <label>
        <b>Width:</b>
        <input type="text" id="width" value="300" />
    </label>
</p>
<p>
    <label>
        <b>Height:</b>
        <input type="text" id="height" value="400" />
    </label>
</p>
<p>
    <label>
        <b>Model:</b>
        <select id="skin_model">
            <option value="auto-detect" selected>Auto detect</option>
            <option value="default">Default</option>
            <option value="slim">Slim</option>
        </select>
    </label>
</p>
<p>
    <label>
        <b>Panorama:</b>
        <input type="text" id="panorama_url" hidden="true" value="" />
        <input type="file" id="panoramaFile" />
    </label>
</p>
<p>
    <label class="form-label">
        <b>Global intensity:</b>
        <input type="range" class="form-range form-range-{{pageprop.color}}" min="0" max="10" step="0.1" value="3"
            id="globalIntensity">
    </label>
</p>
<p>
    <label class="form-label">
        <b>Camera intensity:</b>
        <input type="range" class="form-range form-range-{{pageprop.color}}" min="0" max="10" step="0.1" value="3"
            id="cameraIntensity">
    </label>
</p>
<p>
<table class="table">
    <tr>
        <b>Left Arm Rotation: </b>
    </tr>
    <tr>
        <td>
            <label>X</label>
        </td>
        <td>
            <input type="range" class="form-range form-range-{{pageprop.color}}" min="0" max="6.28" step="0.05"
                value="0" id="skinLeftArmRotationX">
        </td>
    </tr>
    <tr>
        <td>
            <label>Y</label>
        </td>
        <td>
            <input type="range" class="form-range form-range-{{pageprop.color}}" min="0" max="6.28" step="0.05"
                value="0" id="skinLeftArmRotationY">
        </td>
    </tr>
    <tr>
        <td>
            <label>Z</label>
        </td>
        <td>
            <input type="range" class="form-range form-range-{{pageprop.color}}" min="0" max="6.28" step="0.05"
                value="0" id="skinLeftArmRotationZ">
        </td>
    </tr>
</table>
<table class="table">
    <tr>
        <b>Right Arm Rotation: </b>
    </tr>
    <tr>
        <td>
            <label>X</label>
        </td>
        <td>
            <input type="range" class="form-range form-range-{{pageprop.color}}" min="0" max="6.28" step="0.05"
                value="0" id="skinRightArmRotationX">
        </td>
    </tr>
    <tr>
        <td>
            <label>Y</label>
        </td>
        <td>
            <input type="range" class="form-range form-range-{{pageprop.color}}" min="0" max="6.28" step="0.05"
                value="0" id="skinRightArmRotationY">
        </td>
    </tr>
    <tr>
        <td>
            <label>Z</label>
        </td>
        <td>
            <input type="range" class="form-range form-range-{{pageprop.color}}" min="0" max="6.28" step="0.05"
                value="0" id="skinRightArmRotationZ">
        </td>
    </tr>
</table> 
<table class="table">
    <tr>
        <b>Head Rotation: </b>
    </tr>
    <tr>
        <td>
            <label>X</label>
        </td>
        <td>
            <input type="range" class="form-range form-range-{{pageprop.color}}" min="0" max="6.28" step="0.05"
                value="0" id="skinHeadRotationX">
        </td>
    </tr>
    <tr>
        <td>
            <label>Y</label>
        </td>
        <td>
            <input type="range" class="form-range form-range-{{pageprop.color}}" min="0" max="6.28" step="0.05"
                value="0" id="skinHeadRotationY">
        </td>
    </tr>
    <tr>
        <td>
            <label>Z</label>
        </td>
        <td>
            <input type="range" class="form-range form-range-{{pageprop.color}}" min="0" max="6.28" step="0.05"
                value="0" id="skinHeadRotationZ">
        </td>
    </tr>
</table> 
<table class="table">
    <tr>
        <b>Left Leg Rotation: </b>
    </tr>
    <tr>
        <td>
            <label>X</label>
        </td>
        <td>
            <input type="range" class="form-range form-range-{{pageprop.color}}" min="0" max="6.28" step="0.05"
                value="0" id="skinLeftLegRotationX">
        </td>
    </tr>
    <tr>
        <td>
            <label>Y</label>
        </td>
        <td>
            <input type="range" class="form-range form-range-{{pageprop.color}}" min="0" max="6.28" step="0.05"
                value="0" id="skinLeftLegRotationY">
        </td>
    </tr>
    <tr>
        <td>
            <label>Z</label>
        </td>
        <td>
            <input type="range" class="form-range form-range-{{pageprop.color}}" min="0" max="6.28" step="0.05"
                value="0" id="skinLeftLegRotationZ">
        </td>
    </tr>
</table>
<table class="table">
    <tr>
        <b>Right Leg Rotation: </b>
    </tr>
    <tr>
        <td>
            <label>X</label>
        </td>
        <td>
            <input type="range" class="form-range form-range-{{pageprop.color}}" min="0" max="6.28" step="0.05"
                value="0" id="skinRightLegRotationX">
        </td>
    </tr>
    <tr>
        <td>
            <label>Y</label>
        </td>
        <td>
            <input type="range" class="form-range form-range-{{pageprop.color}}" min="0" max="6.28" step="0.05"
                value="0" id="skinRightLegRotationY">
        </td>
    </tr>
    <tr>
        <td>
            <label>Z</label>
        </td>
        <td>
            <input type="range" class="form-range form-range-{{pageprop.color}}" min="0" max="6.28" step="0.05"
                value="0" id="skinRightLegRotationZ">
        </td>
    </tr>
</table> 

</p>
{%endblock%}