<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>BBCode 生成器</title>
    <meta name="keywords" content="BBCode 论坛代码生成 论坛发帖模板">
    <link href="https://cdn.pmine.org/bootstrap-5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.pmine.org/bootstrap-5.3.2/js/bootstrap.bundle.min.js"> </script>
    <link href="https://pmine.org/static/style/pmine-bs.css" rel="stylesheet">
</head>

<body>
    <div class="pmine-cont" style="margin-top: 70px; margin-left: 10%; margin-right: 10%">

        <head>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal text-body-emphasis">BBCode 生成</h1>
                <p class="fs-5 text-body-secondary">您可以选择模板进行填写，点击添加段落添加段落后填写，填写完成之后点击 Convert 之后复制生成的内容即可复制早论坛之中。所有支持
                    BBCode 的论坛均可使用（包括 Discuz 论坛，例如 MCBBS 和苦力怕论坛等） </p>
            </div>
        </head>
        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">模板一</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>适合文字类内容使用</li>
                                <li>加粗边框</li>
                                <li>段落标题无边框</li> 
                                <li>排版来自：KLPBBS@Cinder</li> 
                            </ul>
                            <a href="klp-cinder_style/"><button type="button" class="w-100 btn btn-lg btn-pink">使用</button></a> 
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">模板二</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>适合图片、展示类内容使用</li>
                                <li>排版简单干净</li>
                                <li>无二级标题</li>
                                <li>排版来自：FDS@小研Y</li>
                            </ul>
                            <a href="fds-xiaoyan_style/"><button type="button" class="w-100 btn btn-lg btn-pink">使用</button></a> 
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">模板三</h4>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>适合需要多级标题内容使用</li>
                                <li>有英语标题/副标题/提示</li>
                                <li>排版相对困难</li>
                                <li>排版来自：FDS@我是redstone</li>
                            </ul>
                            <a href="fds-redstone_style/"><button type="button" class="w-100 btn btn-lg btn-pink">使用</button></a> 
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>


    <script type="text/javascript" src="https://pmine.org/static/libs/load.js"></script>
</body>

</html>