{%extends "bbcodetemp/template.html"%}

{%block body%}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">{{trans.spxx.title}}</h1>
    <p class="fs-5 text-body-secondary">{{trans.spxx.desc}} </p>
    <a class="btn btn-pink" href="https://github.com/Redstone-D/spxxklp">{{trans.spxx.github}}</a>
    <a class="btn btn-pink" href="./download">{{trans.spxx.download}}</a>
    <p class="fs-5 text-body-secondary"><br>{{trans.spxx.howtouse}} </p>
    <a class="btn btn-pink" href="https://www.tampermonkey.net/">{{trans.spxx.downloadtampermonkey}}</a>
    <div class="container" style="padding-left: 20%; padding-right: 20%">
        <br>
        <img src="https://ip.klpbbs.com/attach.php?id=/forum/202404/02/104540iybvlz3m50dgdwlm.png" class="img-fluid"
            alt="Tamper Monkey Paste">
    </div>
</div>

{%endblock%}