<nav class="navbar navbar-expand-md navbar sticky-top bg-body-tertiary shadow-{{pageprop.color}}"
    style="position: fixed; top: 0; width: 100%">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ツールボックス</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav me-auto my-2 my-md-0 navbar-nav-scroll">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                        aria-expanded="false">マイクラツール</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/skincomp">スキンカムプレサー
                            </a>
                        </li>
                        <li><a class="dropdown-item" href="/skinview">スキンプレビュー </a></li>
                        <li><a class="dropdown-item" href="/uuid">UUIDジェネレータ</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Developing...</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                        aria-expanded="false">組版ツール</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/bbcode">BBCodeテンプレート</a></li>
                        <li><a class="dropdown-item" href="https://editbbcode.pmine.org/">BBCodeエデター</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Developing...</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"
                        aria-expanded="false">一般のツール</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="https://pmine.org/viewmd">MarkDown </a>
                        </li>
                        <li><a class="dropdown-item" href="https://qrcodegen.pmine.org/">QRコードジェネレータ </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Developing...</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://pmine.org/other.html">別のツール</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://fds.moe">FDS</a>
                </li>
            </ul> 
        </div>
    </div>
</nav>