<!DOCTYPE html>
<html lang="{{lang}}">

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"> 
    <script src="{{url}}{{temp}}/form.js"></script>
    <script src="{{url}}{{temp}}/index.js"></script>
    <script src="{{url}}dynamictext.js"></script>
    <script src="{{url}}insertimage.js"></script>
    <script src="{{url}}lang.js"></script>
    <link href="https://cdn.pmine.org/bootstrap-5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.pmine.org/bootstrap-5.3.2/js/bootstrap.bundle.min.js"> </script>
    <link href="https://cdn.pmine.org/fdsprivate/pmine-bs.css" rel="stylesheet"> 
    <title class="lang" key="bbcodetemp"></title> 
</head> 

<body>
    {% load static %} 

    {% include 'op/'|add:pageprop.lang|add:'/navbar.html' %}

    <div class="container" style="padding-top: 100px; padding-bottom: 30px">
        {% block body %}
        {% endblock %}
    </div>

    {% include 'op/'|add:pageprop.lang|add:'/footdiv.html' %}

    <script type="text/javascript" src="https://cdn.pmine.org/jQuery/jquery.js"></script>
    <script>
    lang = "{{pageprop.lang}}" 
    refreash()
    </script> 
</body>

</html>