{%extends "index/zh-hans/template.html"%}

{%block body%}
<div class="cont">
    <div class="container px-4 py-5" id="hanging-icons" style="margin-top: 40px">
        <h2 class="pb-2 border-bottom">Minecraft 工具</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div>
                    <h3 class="fs-2 text-body-emphasis">MCBE 皮肤打包</h3>
                    <p>您可以在此处上传您制作的皮肤，并且通过我们的程序可以让您获取一个 Minecraft 皮肤包（双击即可直接导入基岩版新版本）</p>
                    <a href="skincomp" class="btn btn-{{pageprop.color}}">
                        前往使用
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h3 class="fs-2 text-body-emphasis">UUID 生成</h3>
                    <p>您可以在次数进入生成 UUID ， UUID 可以放入 Minecraft 资源之中作为 manifest 的一部分 </p>
                    <a href="uuid" class="btn btn-{{pageprop.color}}">
                        前往使用
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h3 class="fs-2 text-body-emphasis">基岩版快捷指令 </h3>
                    <p>开发中...开发中...开发中...开发中...开发中...开发中...开发中...开发中...开发中...</p>
                    <a href="#" class="btn btn-{{pageprop.color}} disabled">
                        红石太累啦！
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">排版工具</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div>
                    <h3 class="fs-2 text-body-emphasis">BBCode 模板</h3>
                    <p>选择模板后按照要求填写后可生成模板。所有支持 BBCode 的论坛均可使用（例如 MCBBS ）</p>
                    <a href="bbcode" class="btn btn-{{pageprop.color}}">
                        前往使用
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h3 class="fs-2 text-body-emphasis">BBCode 编辑器</h3>
                    <p>您可以在此处使用可视化编辑器编辑 BBCode ，支持按钮生成格式</p>
                    <a href="https://editbbcode.pmine.org" class="btn btn-{{pageprop.color}}">
                        前往使用
                    </a>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <div>
                    <h3 class="fs-2 text-body-emphasis">互动剧情 BBCode</h3>
                    <p>您可以在 MCBBS 等论坛中使用 BBCode 的 Index 功能于坛友进行互动 </p>
                    <a href="#" class="btn btn-{{pageprop.color}} disabled">
                        开发中...
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">通用工具</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div>
                    <h3 class="fs-2 text-body-emphasis">二维码生成</h3>
                    <p>选择模板后按照要求填写后可生成模板。所有支持 BBCode 的论坛均可使用（例如 MCBBS ）</p>
                    <a href="https://qrcodegen.pmine.org" class="btn btn-{{pageprop.color}}">
                        前往使用
                    </a>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div>
                    <h3 class="fs-2 text-body-emphasis">数学功能</h3>
                    <p>开发中 </p>
                    <a href="#" class="btn btn-{{pageprop.color}} disabled">
                        开发中 
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
{%endblock%}