.bg {
    background: url(/static/pictures/main.png)no-repeat;
    background-size: cover; 
    background-position: 50% 0px; 
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -100;
}

.cont {
    display: block;
    padding-top: 70px; 
    float: center;
    justify-content:center; 
    width: 100%; 
    padding-bottom: 30px; 
} 

.box { 
    text-align: left;
    background-color: rgba(200, 200, 200, 75%); 
    margin-left: 10%; 
    padding-left: 20px; 
    width: 80%; 
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif; 
    margin-bottom: 10px; 
    margin-bottom: 30px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
} 

a:link {
    color: #333;
}

a:visited {
    color: #333;
}

a:hover {
    color: #FF1493;
} 

.box h1 {
    font-size: 25px;
} 

.box h2 {
    font-size: 20px;
}  

.box ol { 
    padding-left: 20px; 
}

.box hr { 
    margin-top: 1em;
    margin-bottom: 1em; 
    margin-right: 20px; 
}

@media (max-width: 767px) {
    .box {
        font-size: 10px;
    }

    .box h1 {
        font-size: 20px; 
    } 

    .box h2 {
        font-size: 15px; 
    } 
}  

